select {
    text-align: left;
    display: inline-block;
    overflow: hidden;
    background: white;
    min-height: 44px;
    font-family: "Lato";
    font-size: 16px;
    color: #444;
    padding: 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(220 220 220) inset;
    box-sizing: border-box;
    width: 80%;
}

table {
    border-collapse: separate;
}

@media screen and (min-width: 680px) {
    .pos .modal-dialog .popup {
        max-width: 600px;
    }
}